{% extends "layout.html" %}

{% block body %}
<!DOCTYPE html>

<html lang="en">
  <style>
    table, th, td {
      border:1px solid black;
    }
    table.center {
      margin-left: auto;
      margin-right: auto;
      max-width: 450px;
    }
   </style>
    <head>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap" rel="stylesheet">
        <link href="/static/styles.css" rel="stylesheet">
        <title>Search Archives</title>
    </head>
    <body>
        <div style="text-align:center" class="header">
            <h1>Quote Archives</h1>
        </div>
        <br>
        <div class="container">
          <div class="section">
            <form style="text-align:center;" action="/quote" method="post">
              <input autocomplete="off" autofocus name="symbol" placeholder="Symbol" type="text">
              <br>
              <button class="btn btn-primary" type="submit" value="Quote">Quote</button>
            </form>
          </div>
        <br>

            <div class="section">
              <!-- <h2>Stock Quotes</h2> -->
              <table class="table table-striped center" role="grid" style="width:90%">
                <thead>
                    <tr>
                      <th>Stock</th>
                      <th style="text-align: right">Price</th>
                      <th style="text-align: right">Time</th>
                    </tr>
                </thead>
                <tbody>
                    {% for quote in quotes %}
                      <tr>
                        <td>{{ quote.symbol }}</td>
                        <td style="text-align: right">{{ quote.price|usd }}</td>
                        <td style="text-align: right">{{ quote.date }}</td>
                      </tr>
                    {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
      </body>
  </html>

       <!-- <p style="text-align:center;" >Company: {{ name }} </p>
       <p style="text-align:center;" >Stock: {{ symbol }} </p>
       <p style="text-align:center;" >Price: {{ price }} </p> -->

{% endblock %}